@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

$ril-primary: #0f3cc9;
$ril-secondary: #0a2885;
$jio-primary: #e30513;
$jio-secondary: #a80000;
$savaan-primary: #1eccb0;
$savaan-secondary: #1e7b74;

//Umesh Styles
$placeholder-color: white;

html {
  body {
    font-family: "Noto Sans", sans-serif;
    box-sizing: border-box;
  }
}
